<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <!-- BEGIN STYLESHEETS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet'
          type='text/css'/>
    <link type="text/css" rel="stylesheet" href="/assets/css/theme-default/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="/assets/css/theme-default/materialadmin.css"/>
    <link type="text/css" rel="stylesheet" href="/assets/css/theme-default/font-awesome.min.css"/>
    <link type="text/css" rel="stylesheet" href="/assets/css/theme-default/material-design-iconic-font.min.css"/>
    <!-- END STYLESHEETS -->
</head>
<body class="menubar-hoverable header-fixed menubar-visible">
<%- include('header') %>
<div id="base">
    <div class="offcanvas">
    </div>
    <div id="content">
        <section>
            <div class="section-body content-lg">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <img class="img-circle border-white border-xl img-responsive profile-avatar" style="margin: auto"
                                     src="/images/gv.gif" alt="">
                                <h3 class="text-center"><%= username %><br>
                                    <small>Computer Sicence</small>
                                </h3>

                            </div>
                        </div>
                        <form id="linhvuc_form" class="form" method="post" action="/users/giangvien/linhvuc">
                            <div class="card">
                                <div class="card-head">
                                    <header>Lĩnh vực liên quan</header>
                                </div>
                                <div class="card-body no-padding">

                                    <ul class="linhvuc_lienquan" class="list ui-sortable" data-sortable="true">
                                        <% linhvuc.forEach(function (lv) { %>
                                        <%- include('linh_vuc_list_item',{name: lv.tenLinhVuc, id: lv.ID,checked: lv.checked}); %>
                                        <% }); %>
                                    </ul>

                                </div>
                                <div class="card-actionbar-row" style="display: none;" id="btn_linhvuc_lienquan">
                                    <button type="submit" class="btn btn-flat btn-primary ink-reaction">Lưu</button>
                                </div>
                            </div>
                        </form>
                        <div class="card">
                            <div class="card-head">
                                <header>Các hướng nghiên cứu</header>
                                <div class="tools">
                                    <a class="btn btn-icon-toggle" data-toggle="offcanvas" href="#them_nghien_cuu"><i
                                                class="md md-add"></i></a>
                                </div>
                            </div>
                            <div class="card-body no-padding">
                                <ul class="list" id="list-nghiencuu">
                                    <% nghiencuus.forEach(function (nc) { %>
                                    <%- include('nghiencuu_list_item',{title: nc.chuDe_tenChuDe, description: nc.moTa}); %>
                                    <% }); %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-head">
                                <ul class="nav nav-tabs" data-toggle="tabs">
                                    <li class="active"><a href="#tab-about">Thông tin</a></li>
                                    <li><a href="#tab-update">Cập nhật thông tin</a></li>
                                </ul>
                            </div>
                            <div class="card-body tab-content">
                                <div class="tab-pane active" id="tab-about">
                                    <div class="about-area">
                                        <h4 class="text-default-light">Thông tin cá nhân</h4>
                                        <div class="table-responsive">
                                            <table class="table about-table">
                                                <tbody>
                                                <tr>
                                                    <th>Ma giang vien</th>
                                                    <td><%= row.ID %></td>
                                                </tr>
                                                <tr>
                                                    <th>Ho va ten</th>
                                                    <td><%= username %></td>
                                                </tr>
                                                <tr>
                                                    <th>Dia chi mail vnu</th>
                                                    <td><%= vnumail %></td>
                                                </tr>
                                                <tr>
                                                    <th>Mat Khau</th>
                                                    <td><%= password %></td>
                                                </tr>
                                                <tr>
                                                    <th>So dien Thoai lien lac</th>
                                                    <td><%= row.soDienThoai %></td>
                                                </tr>
                                                <tr>
                                                    <th>Thuoc ve khoa</th>
                                                    <td><%= row.khoa_khKhoa %></td>
                                                </tr>
                                                <tr>
                                                    <th>Website</th>
                                                    <td><a href="#">UET.vnu.edu.vn</a></td>
                                                </tr>
                                                <tr>
                                                    <th>Email</th>
                                                    <td><a href="#">Ctmail.vnu.edu.vn</a></td>
                                                </tr>
                                                <tr>
                                                    <th>Phone</th>
                                                    <td><%= row.soDienThoai %></td>
                                                </tr>
                                                <tr>
                                                    <th>Position</th>
                                                    <td>Xuan Thuy,Cau Giay, Ha Noi</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><!--  end-aboutarea -->
                                </div><!--  tab-about -->
                                <div class="tab-pane" id="tab-update">
                                    <form class="form-horizontal" action="/users/giangvien/edit" method="post">
                                        <div class="form-group">
                                            <label for="chuyennganh" class="col-sm-2 control-label">Chuyên ngành</label>
                                            <div class="col-sm-10">
                                                <input type="chuyennganh" class="form-control" id="chuyennganh"
                                                       name="chuyennganh">
                                                <div class="form-control-line"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="col-sm-2 control-label">Email</label>
                                            <div class="col-sm-10">
                                                <input type="email" class="form-control" id="email" name="email">
                                                <div class="form-control-line"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="password" class="col-sm-2 control-label">Password</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="password"
                                                       name="password">
                                                <div class="form-control-line"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="sodt" class="col-sm-2 control-label">So Dien Thoai</label>
                                            <div class="col-sm-10">
                                                <input type="sodt" class="form-control" id="sodt" name="sodt">
                                                <div class="form-control-line"></div>
                                            </div>
                                        </div>
                                        <div class="card-actionbar">
                                            <div class="card-actionbar-row">
                                                <button type="submit" class="btn btn-flat btn-primary ink-reaction">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <div> <!-- end tab edit -->
                                    </div>  <!-- endtab -->
                                </div> <!--endcard-->
                                 <!--endcard-->
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-head">
                                <header>Danh sách sin viên đăng kí đề tài</header>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table no-margin">
                                        <thead>
                                        <th>Ma so Sinh vien</th>
                                        <th>De tai Dang ky</th>
                                        <th>Ma de tai</th>
                                        </thead>
                                        <tbody>
                                        <% detai.forEach(function (detai) { %>
                                        <tr>
                                            <td><%= detai.nguoiHoc_MSSV %></td>
                                            <td><%= detai.tenDeTai %></td>
                                            <td><%= detai.ID %></td>
                                            <td>
                                                <button id="btn-chapnhan">Chap Nhan</button>
                                            </td>
                                            <td>
                                                <button id="btn-huybo">Huy bo</button>
                                            </td>
                                        </tr>
                                        <% }) %>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div> <!-- end tab edit -->
                            </div>  <!-- endtab -->
                        </div>

                    </div>
                </div>
            </div>
        </section>

    </div>
    <div id="menubar">
        <!-- ~ Menubar content goes here ~ -->
        <%- include('../menubar') %>
    </div>

    <div class="offcanvas">
        <div id="them_nghien_cuu" class="offcanvas-pane width-10" style="">
            <div class="offcanvas-head">
                <header>Thêm hướng nghiên cứu</header>
                <div class="offcanvas-tools">
                    <a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
                        <i class="md md-close"></i>
                    </a>
                </div>
            </div>
            <div class="nano has-scrollbar" style="height: 395.2px;">
                <div class="nano-content" tabindex="0" style="right: -17px;">
                    <div class="offcanvas-body">
                        <form class="form form-validate floating-label" novalidate="novalidate" method="post"
                              accept-charset="utf-8" action="/users/giangvien/nghiencuu" id="form-them-nghiencuu">
                            <div class="floating-label">
                                <div class="form-group floating-label">
                                    <select id="linhvuc" name="linhvucId" class="form-control dirty" required>
                                        <option value="">&nbsp;</option>
                                        <% linhvuc.forEach(function(lv){ %>
                                        <option value="<%= lv.ID %>"><%= lv.tenLinhVuc %></option>
                                        <% }); %>
                                    </select>
                                    <label for="linhvuc">Lĩnh vực</label>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="chude" id="chude" required/>
                                    <label for="chude">Chủ đề</label>
                                </div>
                                <div class="form-group">
                                    <textarea name="mota" name="mota" id="mota" class="form-control" rows="5"
                                              placeholder=""></textarea>
                                    <label for="mota">Mô tả</label>
                                </div>
                            </div>
                            <button type="s" class="btn ink-reaction btn-raised btn-primary">Thêm</button>
                        </form>
                    </div>
                </div>
                <div class="nano-pane">
                    <div class="nano-slider" style="height: 336px; transform: translate(0px, 59px);"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
<script src="/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/js/libs/bootstrap/bootstrap.min.js"></script>
<script src="/assets/js/libs/spin.js/spin.min.js"></script>
<script src="/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
<script src="/assets/js/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/assets/js/libs/jquery-validation/dist/additional-methods.min.js"></script>
<script src="/assets/js/core/source/App.js"></script>
<script src="/assets/js/core/source/AppNavigation.js"></script>
<script src="/assets/js/core/source/AppOffcanvas.js"></script>
<script src="/assets/js/core/source/AppCard.js"></script>
<script src="/assets/js/core/source/AppForm.js"></script>
<script src="/assets/js/core/source/AppNavSearch.js"></script>
<script src="/assets/js/core/source/AppVendor.js"></script>
<script src="/javascripts/giangvien.js"></script>
<script src="/javscripts/gvquanlydetai.js"></script>
<!-- Put App.js last in your javascript imports -->


</body>
</html>
